PngImage_2 RCDATA "..\\Pics\\GOAL_LEFT.png"
imgField RCDATA "..\\Pics\\FIELD.png"
PngImage_3 RCDATA "..\\Pics\\ATT_TEAM_A.png"
PngImage_4 RCDATA "..\\Pics\\ATT_TEAM_B.png"
PngImage_5 RCDATA "..\\Pics\\BALL.png"
PngImage_6 RCDATA "..\\Pics\\DEF_TEAM_A.png"
PngImage_7 RCDATA "..\\Pics\\DEF_TEAM_B.png"
PngImage_8 RCDATA "..\\Pics\\GOAL_RIGHT.png"
PngImage_9 RCDATA "..\\Pics\\MID_TEAM_A.png"
PngImage_10 RCDATA "..\\Pics\\MID_TEAM_B.png"
